{
  "CreatePollFunction": {
    "POLLS_TABLE": "movie-vote-polls-local"
  },
  "GetPollFunction": {
    "POLLS_TABLE": "movie-vote-polls-local"
  },
  "UpdatePollPhaseFunction": {
    "POLLS_TABLE": "movie-vote-polls-local"
  },
  "AddMovieFunction": {
    "POLLS_TABLE": "movie-vote-polls-local",
    "ANTHROPIC_API_KEY": "sk-ant-your-api-key-here"
  },
  "RemoveMovieFunction": {
    "POLLS_TABLE": "movie-vote-polls-local"
  },
  "SubmitVoteFunction": {
    "POLLS_TABLE": "movie-vote-polls-local"
  }
}
